
<form [formGroup] = "editUserForm" (ngSubmit)="nextStep()">
    <div class="form-group">
        <label>First Name</label>
        <input [class.is-invalid]="editUserForm.get('firstName').invalid && editUserForm.get('firstName').touched"  formControlName="firstName" type="text" class="form-control">
        <span [class.d-none]="editUserForm.get('firstName').valid || editUserForm.get('firstName').untouched">The first name field is required</span>
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input  [class.is-invalid]="editUserForm.get('lastName').invalid && editUserForm.get('lastName').touched" formControlName="lastName" type="text" class="form-control">
        <span [class.d-none]="editUserForm.get('lastName').valid || editUserForm.get('lastName').untouched">The last name field is required</span>
    </div>
    <div class="form-group">
        <label>Zip</label>
        <input formControlName="zip" [class.is-invalid]="editUserForm.get('zip').invalid && editUserForm.get('zip').touched" type="text" class="form-control">{{city}}
        <span [class.d-none]="editUserForm.get('zip').valid || editUserForm.get('zip').untouched">Please enter a valid city zip</span>


    </div>

    <button type="submit" class="btn btn-primary btn-sm m-2">Next Step</button>
    {{editUserForm.value | json}}
</form>